<html>
    <header>
        <h1>
            Events Scotland
        </h1>
    </header>
        <form action="/">
        <label for="date">Date</label>
        <input type="text" name="date" id="date">
        <label for="name_of_event">Name Of Event</label>
        <input type="text" name="name_of_event" id="name_of_event">
        <label for="number_of_guests">Number Of Guests</label>
        <input type="text" name="number_of_guests" id="number_of_guests">
        <label for="room_location">Room Location</label>
        <input type="text" name="room_location" id="room_location">
        <label for="description">Description</label>
        <input type="submit" value="Add Event">
    </form>
    {% for event in events %}
    <div>
        <p>
            {{ event.date }},  {{ event.name_of_event }},  {{ event.number_of_guests }},  {{ event.room_location }},  {{ event.description }}
        </p>
    </div>
    {% endfor %}
</html>